/*  
Theme Name: Petri Pottonen
Theme URI: http://petripottonen.com
Description: Petri Pottonen by Petri Pottonen
Version: 1.0.0
Author: Petri Pottonen
Author URI: petripottonen.com
Template: dms
*/

/*This is a child-theme style.css to add and override styles from the DMS framework (parent theme). DMS uses Less but here we use Scss + Bourbon.*/


/*------------------------------------*\
    IMPORTS
\*------------------------------------*/

@import "bourbon";
@import "variables";
@import "base"; //Useful additional styles for DMS

$kokoro:#ff4b00;

.wp-caption{
    background:none;
    border:none;
}

blockquote{
    padding: 10px 20px;
    margin: 10px 0 30px;
    //font-size: 17.5px;
    font-size: 26px;
    line-height: 1.5;
    //border-left: 5px solid #eee;
    border-left: 5px solid $kokoro;
}

h1, h2, h3, h4, h5, h6, .section-simple_nav{
	font-family: "brandon-grotesque";
	//font-family: "ff-tisa-web-pro";
	// font-family: "adobe-caslon-pro";
	//font-family: "proxima-nova";
	font-weight: 900;
    text-transform: uppercase;
    word-wrap: break-word;

}

h1 {
font-size: 60px;
} 
h2 {

} 
h3 {

} 
h4 {

} 
h5 {

} 
h6 {

}


@media(max-width:700px){
h1 {
font-size: 24px;
} 
h2 {
font-size: 20px;
} 
h3 {
font-size: 18px;
} 
h4 {

} 
h5 {

} 
h6 {

}

}


body{
    //background:#c9c9c9;
}
#site{
	background: transparent;
//font-family: "proxima-nova";
font-family: "freight-text-pro";
letter-spacing: 0.01rem;
font-weight: 400;
font-style: normal;
font-size: 22px;
line-height: 1.5;
-webkit-font-smoothing: antialiased;
color: rgba(0,0,0,0.8);
}

strong{
	font-weight: 600;
}

/*h2{
	line-height: 160%;
	text-transform: uppercase;
	margin-bottom: 30px !important;
}
*/



div.tags{
    display: none ;
}
.slabtexted .slabtext
        {
            line-height: 100%;
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        }