/*  
Theme Name: Petri Pottonen
Theme URI: http://petripottonen.com
Description: Petri Pottonen by Petri Pottonen
Version: 1.0.0
Author: Petri Pottonen
Author URI: petripottonen.com
Template: dms
*/
/*This is a child-theme style.css to add and override styles from the DMS framework (parent theme). DMS uses Less but here we use Scss + Bourbon.*/
/*------------------------------------*\
    IMPORTS
\*------------------------------------*/
/*------------------------------------*\
    HTML5 Boilerplate
\*------------------------------------*/
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }

/*------------------------------------*\
    Align a block in center and middle http://frontendbabel.info/articles/css-tricks-by-wargaming/
\*------------------------------------*/
.center-container {
  position: relative;
  height: 600px;
  background: green; }
  .center-container > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

/*------------------------------------*\
    Cut off long lines with ellipsis
\*------------------------------------*/
.ellipsis-cut {
  white-space: nowrap;
  /* No line breaks */
  overflow: hidden;
  /* Hide text which does not fit the block */
  text-overflow: ellipsis;
  /* Cut off with ellipsis */
  display: block;
  /* Works only for block elements */ }

.containeri {
  width: 300px;
  height: 20px; }

/* #site,
label,
input,
input[type="submit"],
button,
select,
textarea,
.btn,
#site h1,
#site h2,
#site h3,
#site h4,
#site h5,
#site h6,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal {
	font-family: "proxima-nova";
} */
body {
  -webkit-font-smoothing: antialiased; }

/*------------------------------------*\
    NAVI-TEMPLATE
\*------------------------------------*/
/*------------------------------------*\
    MOBILE NAV TEMPLATE
\*------------------------------------*/
/* body ul.inline-list {
	@media (max-width: 1000px) {
		&.respond{
			.menu-toggle{
				display: block;
			}
			
			.menu-item{
				display: none;
			}
		}
	}
} */
body .pl-mobile-menu {
  box-shadow: -260px 0 0 transparent, -520px 0 0 transparent, -780px 0 0 transparent, -1040px 0 0 transparent, -1300px 0 0 transparent; }
  body .pl-mobile-menu.show-menu {
    box-shadow: -260px 0 0 rgba(0, 0, 0, 0.7), -520px 0 0 rgba(0, 0, 0, 0.7), -780px 0 0 rgba(0, 0, 0, 0.7), -1040px 0 0 rgba(0, 0, 0, 0.7), -1300px 0 0 rgba(0, 0, 0, 0.7); }

/*------------------------------------*\
    USEFUL STUFF
\*------------------------------------*/
.breaklong {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: normal; }

.image-left .hentry {
  text-align: left !important; }

.wp-caption {
  background: none;
  border: none; }

blockquote {
  padding: 10px 20px;
  margin: 10px 0 30px;
  font-size: 26px;
  line-height: 1.5;
  border-left: 5px solid #ff4b00; }

h1, h2, h3, h4, h5, h6, .section-simple_nav {
  font-family: "brandon-grotesque";
  font-weight: 900;
  text-transform: uppercase;
  word-wrap: break-word; }

h1 {
  font-size: 60px; }

@media (max-width: 700px) {
  h1 {
    font-size: 24px; }

  h2 {
    font-size: 20px; }

  h3 {
    font-size: 18px; } }
#site {
  background: transparent;
  font-family: "freight-text-pro";
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8); }

strong {
  font-weight: 600; }

/*h2{
	line-height: 160%;
	text-transform: uppercase;
	margin-bottom: 30px !important;
}
*/
div.tags {
  display: none; }

.slabtexted .slabtext {
  line-height: 100%;
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap; }

.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important; }

.slabtextdone .slabtext {
  display: block; }
